<div>
    <p>user info</p>
    <p>{{@user.id}}</p>
    <p>{{@user.name}}</p>
    <p>{{@user.address.city}}</p>
    <p>
        <LinkTo @route="user-posts" @model={{@user}}>posts</LinkTo>
    </p>
</div>
