<div class="title">Title</div>
<div class="nav-bar">
    <LinkTo @route="index">Index</LinkTo>
    <LinkTo @route="users">Users</LinkTo>
    <LinkTo @route="posts">Posts</LinkTo>
</div>
<div class="main-content">
    {{outlet}}
</div>
