<img  class='center image-test' src="https://blog.cibuu.com/wp-content/uploads/Test-1.png" alt="">

<p class="center">It`s test App with using JSONPlaceholder REST API</p>
<p class="center">You can find here posts, users from https://jsonplaceholder.typicode.com/ </p>
